/*
================================================================================================
================================================================================================
=========================================     ==     ===========================================
   ===========   															      ===========   
=================		  				  Developers:						   =================
  ====     ====	 			   											         ====     ====		   
=================			    Tuan Tran, Marcus Lam, Bradon S				   =================
   ===========   															      ===========   
=========================================     ==     ===========================================
================================================================================================
================================================================================================

        						Start of Meetup Map Project.

================================================================================================
================================================================================================

***    ***    ***              ***    ***    ******    ***    ***              ***    ***    ***

================================================================================================
								Linking to Google Ubuntu Font.
================================================================================================
*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");

/*
================================================================================================
				   Set all text font to Ubuntu with the fallback of Helvetica.
		   Upon loading the page for the first time, call the fadein keyframe animation.
================================================================================================
*/
body{
	background-color: black;
	font-family: 'Ubuntu', Helvetica;
    -moz-animation: fadein 0.8s ease-in; /* Firefox */
    -webkit-animation: fadein 0.8s ease-in; /* Safari and Chrome */
    -o-animation: fadein 0.8s ease-in; /* Opera */	
    animation: fadein 0.8s ease-in;
}

/*
================================================================================================
											Bold Text
================================================================================================
*/
strong{
	font-weight: bold;
}

/*
================================================================================================
									  Apply height to text.
================================================================================================
*/
.line-height{
	line-height: 1.2;
}

/*
================================================================================================
	Created a 1.5 col offset. This allows me to center the creator card images in modal 4.
================================================================================================
*/
.row .col.offset-l1-5 {
	margin-left: 12.49999999995%;
}

/*
================================================================================================
	Side container that contains the logo, carousel images slider and collapsible info bar.
================================================================================================
*/
.myContainer{
	background-color: #fff3e0;
	max-width: 300px;
	height: 100%;
	position: fixed;
	float: left;
}

/*
================================================================================================
				   Enlarges and Sets the position the Meetup Maps logo.			
================================================================================================
*/
.logoimg{
	position: relative;
	width: 150px;
	height: 75px;
	top: -12px;
	left: 0px;
}

/*
================================================================================================
			 Provides the content within the myContainer to fill in the space.
================================================================================================
*/
.myContainer-width-adjustment{
	width: 300px;
}

/*
================================================================================================
				Provides the logo within the myContainer a fixed height.
				      Adds a border to the right of the container.
================================================================================================
*/
.myContainer-height-adjustment{
	height: 50px;
	border-right: 1px solid white
}

/*
================================================================================================
Fixed positioning allows us to push 300px of the space left off and positioning it to the right.
================================================================================================
*/
.topwrapper, .mapwrapper, .footerwrapper{
	position: fixed;
	left: 300px;
	right: 0;
}

/*
================================================================================================
				  Pushes the bar to the top and given a fixed height of 50px. 
================================================================================================
*/
.topwrapper{
	top: 0;
	height: 50px;
}

/*
================================================================================================
				   Adjusts the positioning of the icon within the topwrapper. 
================================================================================================
*/
.icon-height-adjuster{
	line-height: 1.8;
	height: 50px;
}

/*
================================================================================================
					  Adjusts the sizing of the icon within the topwrapper. 
================================================================================================
*/
.iconsizer i{
	width: 100px;
	position: relative;
}

/*
================================================================================================
					 Upon hovering call the pulse webkit keyframe animation. 
================================================================================================
*/
.iconsizer i:hover {
    cursor:pointer;
	-webkit-animation: pulse 2.5s infinite;
    animation: pulse 2.5s infinite;
}

/*
================================================================================================
			   Pushes the map bar 50px to the top. Located under the top wrapper
		              bar and given ita height of 100% to fill the space. 
================================================================================================
*/
.mapwrapper{
	top: 50px;
	height: 100%;
}

/*
================================================================================================
		 	Within the mapwrapper. Remove the total px of the topwrapper/footerwrapper
		 					  in order to fill in the center space. 
================================================================================================
*/
#map {	
	width: 100%;
	height: calc(100% - 100px);
	position: absolute;
}

/*
================================================================================================
Set the thumbs to an absolute position and provides a wiggle animation at the start of the page.
================================================================================================
*/
#fireBaseThumbUp, #firebaseThumbDown{
	position: absolute;
	z-index: 1;
	-webkit-animation: wiggler 2s;
    animation: wiggler 2s;
}

/*
================================================================================================
				    Moves the thumbs up content to the top right of the page.
================================================================================================
*/
#fireBaseThumbUp{
	top: 15px;
	right: 100px;
}

/*
================================================================================================
				   Moves the thumbs down content to the top right of the page.
================================================================================================
*/
#firebaseThumbDown{
	top: 12px;
	right: 15px;
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

/*
================================================================================================
        Upon hovering over the thumbs down. Slowly rotate the thumb to a thumb up image. 
================================================================================================
*/
#firebaseThumbDown:hover{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*
================================================================================================
				Set the 'x' close button to the top right of its parent container.
================================================================================================
*/
.infoWindowClose{
	top: -5px !important;
	right: -5px !important;
}

/*
================================================================================================
					   Set the preset Google InfoWindow to a fix width.
================================================================================================
*/
.infoWindowSize{
	width: 525px !important;
}

/*
================================================================================================
						Set the pushed InfoWindow text width to 525px.
================================================================================================
*/
.main-text-width{
	width: 525px;
}

/*
================================================================================================
						Allows the InfoWindow text to become centered.
================================================================================================
*/
.text-padding{
	margin-left: 22.5px;
	width: 480px;
}

/*
================================================================================================
						        Centers the InfoWindow images.
================================================================================================
*/
.text-padding img{
	width: 480px;
}

/*
================================================================================================
								Fills the InfoWindow Header box.
================================================================================================
*/
.iw-container .iw-title {
	width: 525px;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #f57c00;
	color: white;
	margin: 1px;
	border-radius: 2px 2px 0 0;
}

/*
================================================================================================
       Sets the preset Google InfoWindow Box to a certain width and moves the box top left.
================================================================================================
*/
.gm-style-iw {
	width: 525px !important;
	top: 0 !important;
	left: 0 !important;
	background-color: #fff;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, .4);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 0 0;
}
/*
================================================================================================
	 Keeps the left weather nav bar invisible until the screen shrinks into a mobile size.
================================================================================================
*/
.invisible{
	display: none;
}

/*
================================================================================================
		Sets the mobile nav container to a max width of 300px and light orange coloring.
================================================================================================
*/
.myNavContainer{
	background-color: #fff3e0;
	max-width: 300px;
	height: 100%;
	position: relative;
	float: left;
}

/*
================================================================================================
						Sets the position of the current weather image.
================================================================================================
*/
#weatherImage{
	position: relative;
	left: 50px;
}

/*
================================================================================================
					   Sets the position and size of the weather forecast.
================================================================================================
*/
#weatherForecast{
	float: left;
	width: 300px;
	height: 100%;
}

/*
================================================================================================
	  Provides the weather nav from scrolling left/right. Converts all text to uppercase.
================================================================================================
*/
.weather {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
}

/*
================================================================================================
				Sets the position and applies the border to the weather content.
================================================================================================
*/
.weather ul {
  margin-top: 100px;
  border-top: 1px solid black;
}

/*
================================================================================================
			     Applies a top/bottom padding and positions the weather content.
================================================================================================
*/
.weather li {
  padding: 20px 0;
  float: left;
}

/*
================================================================================================
					  Fills in the width/height of it's parent container.								
================================================================================================
*/
#weatherFullWidth{
	width: 100%;
	height: 100%;
}

/*
================================================================================================
					 Applies a border to the bottom of the weather content.							
================================================================================================
*/
#weatherLeftHalf, #weatherRightHalf{
	border-bottom: 1px solid black;
}

/*
================================================================================================
	Sets the width of the current weather condition and humidity and provides a top border.						
================================================================================================
*/
#weatherLeftHalf, #weatherRightHalf{
	width: 50%;
	border-top: 1px solid black;
}

/*
================================================================================================
									Applied a right border.							
================================================================================================
*/
#weatherLeftHalf{
	border-right: 1px solid black;
}

/*
================================================================================================
Positions the full forecast weather link to the bottom of the page, but above the latest content.						
================================================================================================
*/
#weatherLink{
	margin: 0 auto;
	width: 100%;
	height: 50px;
	padding-top: 20px;
	position: absolute;
	left: 0px;
	bottom: 50px;
}

/*
================================================================================================
					    Upon hovering, applies a transparent blue coloring.					
================================================================================================
*/
#weatherLink:hover{
	background-color: rgba(0, 46, 76 , .2);
}

/*
================================================================================================
				            Sets the font-size of the current weather.							
================================================================================================
*/
.weather h3{
	font-size: 45px;
}

/*
================================================================================================
							   Positions the current temperature. 			
================================================================================================
*/
.tempwrapper{
	position: relative;
	left: 70px;
}

/*
================================================================================================
					Provides an absolute positioning to allow easier
							manipulation of the the H/L temp.					
================================================================================================
*/
#currenttemp{
	position: absolute;
}

/*
================================================================================================
			  Positions the H/L temp to the right of the current temperature.			
================================================================================================
*/
.smalltempwrapper{
	position: absolute;
	left: 100px;
	margin-top: 27.5px;
	font-size: 1.3em;
	clear: both;
}

/*
================================================================================================
		    Pushes the preset Materialize overlay away from the weather Nav bar.
================================================================================================
*/
#sidenav-overlay{
	left: 300px;
}

/*
================================================================================================
		  Positions the clickable nav bar to the slightly pass the left of the page.				
================================================================================================
*/
#weatherSideNav{
	position: absolute;
	z-index: 1;
	top: 30%;
	left: -5px;
	height: 50%;
	width: 20px;
	-webkit-transition: .5s;
	transition: .5s;
}

/*
================================================================================================
		    Upon hovering over the weather nav, slide the nav back into the page.		
================================================================================================
*/
#weatherSideNav:hover{
	left: 0px;
	-webkit-animation: weatherNavSlide .5s;
    animation: weatherNavSlide .5s;
}

/*
================================================================================================
			   Pushes the lastest weather updates to the bottom of the page.
================================================================================================
*/
.weatherLatestUpdate{
	position: absolute;
	bottom: 0px;
	height: 50px;
	background-color: #f57c00;
	border-right: 1px solid white;

}
/*
================================================================================================
	   Removes Materilize preset width to allow the weatherSideNav to become clickable.			
================================================================================================
*/
.drag-target{
	width: 0px;
}

/*
================================================================================================
			    Prevents the weather side-nav from scrolling left and right.			
================================================================================================
*/
.side-nav{
	background-color: #fff3e0;
	overflow-x: hidden;
}

/*
================================================================================================
	 		Allows the meet up maps header within the mobile nav to be centered.		
================================================================================================
*/
.side-nav a.btn{
	margin: 0px; 
}

/*
================================================================================================
						Removes thhe scroll bar from Google Chrome.				
================================================================================================
*/
::-webkit-scrollbar{
	display:none;
}

/*
================================================================================================
					Pushes the footer to the bottom with a set height of 50px. 
================================================================================================
*/
.footerwrapper{
	bottom: 0;
	height: 50px;
}


/*
================================================================================================
			  Within the footer wrapper. Fills in the footer wrapper width/height. 
================================================================================================
*/
.footer{
	width: 100%;
	height: 100%;
	position: absolute;
}

/*
================================================================================================
	Removes the preset padding from materilize. This allows both the inner footer content and
	                  icon for modal 4 to fill in the space fully.
	                         (When a width 100% is given.) 
================================================================================================
*/
.footer-margin-change, .icon-margin-change{
	padding: 0px !important;
}

/*
================================================================================================
					 This allows the footer content to fill the space fully. 
================================================================================================
*/
.footer-adjuster{
	width: 100%;
}

/*
================================================================================================
							 Fills the height of the footer content. 
================================================================================================
*/
.footer-modal-sizer, .footer-copyright-sizer{
	height: 50px;
}

/*
================================================================================================
		Gives the mouse a cursor pointer and calls the pulse webkit keyframe animation. 
================================================================================================
*/
.footer-modal-sizer:hover {
    cursor:pointer;
	-webkit-animation: pulse 2.5s infinite;
    animation: pulse 2.5s infinite;
}

/*
================================================================================================
							 Adjusts the height of the footers icon. 
================================================================================================
*/
.footer-icon-height{
	position: relative;
	top: 10px;
}

/*
================================================================================================
		   Provides a left/right border to the copyright footer and portfolio icons. 
================================================================================================
*/
.copyright-border, .portfolio-border{
	border-left: solid 0.5px white;
	border-right:solid 0.5px white;	
}

/*
================================================================================================
							Adjusts the height of the copyright text. 
================================================================================================
*/
.copyright-height{
	position: relative;
	top: 18px;
}

 /*
================================================================================================
================================================================================================

        						    Start of Modal Changes.

================================================================================================
================================================================================================

***    ***    ***              ***    ***    ******    ***    ***              ***    ***    ***

================================================================================================
							   Set the width of all modals to 85%.
================================================================================================
*/
.modal{
	width: 85%;
}

/*
================================================================================================
						   Sets the max height of the fixed modal to 70%. 
================================================================================================
*/
.modal.bottom-sheet{
	max-height: 70%;
}

/*
================================================================================================
			   Provides a margin below each card content in order to have spacing. 
================================================================================================
*/
.modal-card-margin{
	margin-bottom: 25px;
}

/*
================================================================================================
				 Modal 1: Change the color upon hovering over the preset content. 
================================================================================================
*/
.modal-highlight:hover{
	background-color: #fff8e1;
}

/*
================================================================================================
							  Webkit transition of a half second. 
================================================================================================
*/
.image-hover, .image-hover-nonactive,
.modal-highlight, .image-active:hover,
.modal-active:hover, .avatar i,
.image-circle-modal, .profile-pic,
.profile-card, .portfolio-image{
	-webkit-transition: .5s;
	transition: .5s;
}

/*
================================================================================================
					Modal 1: Rounds the image and provides a shadow background. 
================================================================================================
*/
.image-circle-modal{
	position: absolute;
	left: 10px;
	top: 15px;
	border-radius: 50%;
	-webkit-box-shadow: 0px 5px 15px black;
	-moz-box-shadow: 0px 5px 15px black;
	box-shadow: 0px 5px 15px black;
}

/*
================================================================================================
									  Enlarges the image. 
================================================================================================
*/
.image-circle-modal:hover{
	transform: scale(1.1);
}

/*
================================================================================================
									  Enlarges the icon. 
================================================================================================
*/
.avatar i:hover{
	transform: scale(1.2);
}

/*
================================================================================================
				Vertically align the search Icon in the preset click boxes.
================================================================================================
*/
.searchIcon{
	margin-top: 12.5px;
}

/*
================================================================================================
			   Changes the cursor when hovering over the preset click boxes.
================================================================================================
*/
.collection{
	cursor: pointer;
}
/*
================================================================================================
================================================================================================

        						  Changes to materlize input.

================================================================================================
================================================================================================

***    ***    ***              ***    ***    ******    ***    ***              ***    ***    ***

================================================================================================
										 Label color. 
================================================================================================
*/
.input-field label {
	color: #ff6f00;
	font-size: 1.5em;
}

/*
================================================================================================
			 Label focus color. Also calls the textcolor webkit keyframe animation. 
================================================================================================
*/
.input-field input[type=text]:focus + label {
	color: #ff6f00;
	-webkit-animation: textcolor 2.5s infinite;
	animation: textcolor 2.5s infinite;
	font-size: 1em;
}

/*
================================================================================================
		Label underline focus color. Also calls the textcolor webkit keyframe animation. 
================================================================================================
*/
.input-field input[type=text]:focus {
	border-bottom: 1px solid #ff6f00;
	box-shadow: 0 1px 0 0 #ff6f00;
	-webkit-animation: onclickcolor 2.5s infinite;
    animation: onclickcolor 2.5s infinite;
}

/*
================================================================================================
											Valid color 
================================================================================================
*/
.input-field input[type=text].valid {
	border-bottom: 1px solid #ff6f00;
	box-shadow: 0 1px 0 0 #ff6f00;
}

/*
================================================================================================
										   Invalid color 
================================================================================================
*/
.input-field input[type=text].invalid {
	border-bottom: 1px solid #ff6f00;
	box-shadow: 0 1px 0 0 #ff6f00;
}

/*
================================================================================================
									  Icon prefix focus color 
================================================================================================
*/
.input-field .prefix.active {
	color: #ff6f00;
}

/*
================================================================================================
================================================================================================

        						   End of materialize input changes.

================================================================================================
================================================================================================

***    ***    ***              ***    ***    ******    ***    ***              ***    ***    ***

================================================================================================
			  Upon hovering, scale the image, then provide a heavy white blur and
							  thin black shadow under the image. 
================================================================================================
*/
.image-active:hover{
	box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
	box-shadow: 0px 2px 5px 1px black;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	position: relative;
	z-index: 5;
}

/*
================================================================================================
								  Image will scale down and blur. 
================================================================================================
*/
.image-hover-nonactive{
	box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.7;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

/*
================================================================================================
					 Sets the preset Materialize title font size to 1.2em.
================================================================================================
*/
.eventTitle{
	font-size: 1.2em !important;
	line-height: 1.5 !important;
}
/*
================================================================================================
			   Moves the 'x' close button to the top right of every card content.
================================================================================================
*/
.eventClose{
	position: absolute;
	top: 10px;
	right: 10px;
}
/*
================================================================================================
	Sets the height of the bottom card content. Which allows all cards to be a set height.
				   (Provides a fix to event cards moving in irregular places.)
================================================================================================
*/
.card-content{
	height: 150px;
}

/*
================================================================================================
						Provides a set width/height for the event image.
================================================================================================
*/
.eventImg{
	width: 230px;
	height: 210px;
}

/*
================================================================================================
										Justify all text. 
================================================================================================
*/
.text-justify{
	text-align: justify;
	text-justify: inter-word;
}

/*
================================================================================================
						Provides a typewriter effect for our story p tag. 
================================================================================================
*/
.typewriter p {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	/*border-right: .15em solid orange;  The typwriter cursor */
	/*white-space: nowrap;  Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: typing 1s steps(100, end); /* Steps through 100 text per second. From start to finish. */
}

/*
================================================================================================
						 Set the width/height and center of the card class.
================================================================================================
*/
.card{
	width: 75%;
	height: 75%;
	margin: 0 auto;
}

/*
================================================================================================
								 Removes the preset card padding. 
================================================================================================
*/
.card .card-content{
    padding: 0px;
}

/*
================================================================================================
							   Forces the padding height and width 
================================================================================================
*/
.card-title-changes{
	padding: 0px 20px !important;
}

/*
================================================================================================
									  Icon color changes. 
================================================================================================
*/
.card-content i:hover{
	color: orange;
}

/*
================================================================================================
					   Pushes the content below the profile image down. 
================================================================================================
*/
.profile-pic{
	margin-bottom: 15px;
}

/*
================================================================================================
						Provides a shadow over the entire provide card. 
================================================================================================
*/
.profile-card:hover{
	box-shadow: 0px 2px 5px 1px black;
}

/*
================================================================================================
			Brighten the image upon hovering over the profile picture or if the
							image was given from the js function. 
================================================================================================
*/
.profile-pic-js, .profile-pic:hover{
    -webkit-filter: brightness(120%);
    filter: brightness(120%);	
}

/*
================================================================================================
				Set width/height of portfolio linkedin/twitter/github images. 
================================================================================================
*/
.portfolio-image{
	width: 50px;
	height: 50px;
	margin: 5px 0px;
}

/*
================================================================================================
					Enlarges the profile icon when given the class in js. 
================================================================================================
*/
.portfolio-icon-enlarge{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);	
}

/*
================================================================================================
					Decreases the size of the icons when given the class in js. 
================================================================================================
*/
.portfolio-icon-shorten{
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-o-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);	
}

/*
================================================================================================
							Calls the wiggler webkit keyframe animation. 
================================================================================================
*/

/*
================================================================================================
================================================================================================
*/
.wiggler {
	-webkit-animation: wiggler 2s;
    animation: wiggler 2s;
}

/*
================================================================================================
================================================================================================

        							 End of modal changes.

================================================================================================
================================================================================================

***    ***    ***              ***    ***    ******    ***    ***              ***    ***    ***

================================================================================================
================================================================================================

        						  Start of Keyframes Animation.

================================================================================================
================================================================================================

***    ***    ***              ***    ***    ******    ***    ***              ***    ***    ***

================================================================================================
						Changes the color from dark orange to light orange. 
================================================================================================
*/
@-webkit-keyframes textcolor {
    0%   {color: #ff6f00;}
    50% {color: #ffca28;}
    100% {color: #ff6f00;}
}

@keyframes textcolor {
    0%   {color: #ff6f00;}
    50% {color: #ffca28;}
    100% {color: #ff6f00;}
}

/*
================================================================================================
									   Changes the opacity.
================================================================================================
*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}





@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}


/*
================================================================================================
						  Pushes the Weather Nav bar back into the page.	
================================================================================================
*/
@-webkit-keyframes weatherNavSlide {
	0% {left:-5px;}
	100% {left: 0px;}
}

@keyframes weatherNavSlide {
	0% {left:-5px;}
	100% {left: 0px;}
}
/*
================================================================================================
					  Provides a orange and white border under the search box. 
================================================================================================
*/
@-webkit-keyframes onclickcolor {
    0%   {border-bottom: 1px solid #ff6f00;}
    50%   {border-bottom: 1px solid white;}
    100% {border-bottom: 1px solid #ff6f00;}
}

@keyframes onclickcolor {
    0%   {border-bottom: 1px solid #ff6f00;}
    50%   {border-bottom: 1px solid white;}
    100% {border-bottom: 1px solid #ff6f00;}
}

/*
================================================================================================
						Provides a bright orange to transparent black pulse.
================================================================================================
*/
@-webkit-keyframes pulse {
    0%   {background-color: #ffa000}
    50%  {background-color: rgba(0,0,0, .2);}
    100% {background-color: #ffa000}
}

@keyframes pulse {
    0%   {background-color: #ffa000}
    50%  {background-color: rgba(0,0,0, .2);}
    100% {background-color: #ffa000}
}

/*
================================================================================================
									  Gives a jello wiggle.
================================================================================================
*/
@-webkit-keyframes wiggler {
	11.1%{
		-webkit-transform: none;
		transform: none;
	}

	16.65% {
		-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
		transform: skewX(-12.5deg) skewY(-12.5deg);
	}

	22.2% {
		-webkit-transform: skewX(6.25deg) skewY(6.25deg);
		transform: skewX(6.25deg) skewY(6.25deg);
	}

	27.75% {
		-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
		transform: skewX(-3.125deg) skewY(-3.125deg);
	}

	33.3% {
		-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
		transform: skewX(1.5625deg) skewY(1.5625deg);
	}

	44.4% {
		-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
		transform: skewX(-0.78125deg) skewY(-0.78125deg);
	}

	55.5% {
		-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
		transform: skewX(0.390625deg) skewY(0.390625deg);
	}

	66.6% {
		-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
		transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
	}
	77.7% {
		-webkit-transform: skewX(0.097656deg) skewY(0.097656deg);
		transform: skewX(0.097656deg) skewY(0.097656deg);
	}

	88.8% {
		-webkit-transform: skewX(-0.048828125deg) skewY(-0.048828125deg);
		transform: skewX(-0.048828125deg) skewY(-0.048828125deg);
	}

	99.9% {
		-webkit-transform: skewX(0.024414063deg) skewY(0.024414063deg);
		transform: skewX(0.024414063deg) skewY(0.024414063deg);
	}
}

@keyframes wiggler {
	11.1%{
		-webkit-transform: none;
		transform: none;
	}

	16.65% {
		-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
		transform: skewX(-12.5deg) skewY(-12.5deg);
	}

	22.2% {
		-webkit-transform: skewX(6.25deg) skewY(6.25deg);
		transform: skewX(6.25deg) skewY(6.25deg);
	}

	27.75% {
		-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
		transform: skewX(-3.125deg) skewY(-3.125deg);
	}

	33.3% {
		-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
		transform: skewX(1.5625deg) skewY(1.5625deg);
	}

	44.4% {
		-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
		transform: skewX(-0.78125deg) skewY(-0.78125deg);
	}

	55.5% {
		-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
		transform: skewX(0.390625deg) skewY(0.390625deg);
	}

	66.6% {
		-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
		transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
	}
	77.7% {
		-webkit-transform: skewX(0.097656deg) skewY(0.097656deg);
		transform: skewX(0.097656deg) skewY(0.097656deg);
	}

	88.8% {
		-webkit-transform: skewX(-0.048828125deg) skewY(-0.048828125deg);
		transform: skewX(-0.048828125deg) skewY(-0.048828125deg);
	}

	99.9% {
		-webkit-transform: skewX(0.024414063deg) skewY(0.024414063deg);
		transform: skewX(0.024414063deg) skewY(0.024414063deg);
	}
}

/*
================================================================================================
								  Provides the typing effect.
================================================================================================
*/
@-webkit-keyframes typing {
	from { width: 0 }
	to { width: 100% }	
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/*
================================================================================================
================================================================================================

        							Start of Media Queries.

================================================================================================
================================================================================================
*/

@media screen and (max-width: 1200px){

/*
================================================================================================
		When the screen hits the max width of 1200px or lower decrease the font size.
================================================================================================
*/	
	.name-font{
		font-size: 18px !important;
	}

}

@media screen and (max-width: 993px){

/*
================================================================================================
									  Fixed height/width.
================================================================================================
*/
	.card{
		width: 100%;
		height: 100%;
	}

/*
================================================================================================
		  Removes the preset margin to ensure the image no longer pushes off the page.
================================================================================================
*/
	.row .col.offset-l1-5 {
		margin-left: 0%;
	}

/*
================================================================================================
								  Reset the original font size.
================================================================================================
*/
	.name-font{
		font-size: 24px !important;
	}
}

@media screen and (max-width:768px){

/*
================================================================================================
							    Fills the InfoWindow Header box.
================================================================================================
*/
	.iw-container .iw-title{
		width: 220px;
		font-size: 16px;
	}

/*
================================================================================================
       			  Sets the preset Google InfoWindow Box to a certain width.
================================================================================================
*/
	.gm-style-iw{
	   width: 220px !important;

	}

/*
================================================================================================
				Set the 'x' close button to the top right of its parent container.
================================================================================================
*/
	.infoWindowClose{
		top: -5px !important;
		right: -5px !important;
	}

/*
================================================================================================
					   Set the preset Google InfoWindow to a fix width.
================================================================================================
*/
	.infoWindowSize{
		width: 220px !important;
	}

/*
================================================================================================
						Set the pushed InfoWindow text width to 200px.
================================================================================================
*/
	.main-text-width{
		width: 200px;
	}

/*
================================================================================================
						Allows the InfoWindow text to become centered.
================================================================================================
*/
	.text-padding{
		margin-left: 10px;
		width: 200px;
	}

/*
================================================================================================
						        Centers the InfoWindow images.
================================================================================================
*/
	.text-padding img{
		width: 200px;
	}

/*
================================================================================================
       			  Sets the preset Google InfoWindow Box to a certain width.
================================================================================================
*/	.gm-style-iw{
	   width: 225px !important;
	}

/*
================================================================================================
								 Resizes the thumbs images.
================================================================================================
*/
	#fireBaseThumbUp, #firebaseThumbDown{
		width: 25px;
	}

/*
================================================================================================
								Repositioning of the thumb up.
================================================================================================
*/
	#fireBaseThumbUp{
		top: 10px;
		right: 50px;
	}

/*
================================================================================================
						  Repositioning of the lastest weather update.
================================================================================================
*/
	.weatherLatestUpdate{
		position: relative;
		bottom: 60px;
	}

/*
================================================================================================
					    Repositioning of the full forecast weather link.
================================================================================================
*/
	#weatherLink{
		position: relative;
		float: left;
		padding-bottom: 5px;
		padding-top: 0px;
	}

/*
================================================================================================
						   Removes the left container box from the page. 
						       Removes the icon from the portfolio.
================================================================================================
*/
	.hide-768px, .card-content i{
		display: none;
	}

/*
================================================================================================
		    Set all margins of 300px to 0px in order to center the header/map/footer. 
================================================================================================
*/
	.margin-left{
		margin-left: 0px;
	}

/*
================================================================================================
						  Move the wrapper to the left side of the page. 
================================================================================================
*/
	.topwrapper, .mapwrapper, .footerwrapper{
		left: 0px;
	}

/*
================================================================================================
							 Displays the clickable weather nav.
================================================================================================
*/
	.invisible{
		display: initial;
	}

}

/*
================================================================================================
		Readds the preset margin to ensure to center to create a modified offset-s1.
================================================================================================
*/
@media screen and (max-width:640px){
	.row .col.offset-l1-5 {
		margin-left: 8.3333333333%;
	}
}

/*
================================================================================================
================================================================================================

        							 End of Media Queries.

================================================================================================
================================================================================================

***    ***    ***              ***    ***    ******    ***    ***              ***    ***    ***

================================================================================================
================================================================================================

        						  End of Meetup Map Project.

================================================================================================
================================================================================================
*/
